.pic{
    width : 150px;
    
   
}

.card{
    border : 1px solid blue;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: #ddebf8;
    color: #2b2839;
    border-bottom: 6px solid #d8cefe;

}



body{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}