#Hero {
    background-image: url("MysPalace.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;              
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}
    


#title {
    background-color: #efb0c9;
    padding: 6px 10px;
    border-radius: 5px;
    margin: 50px 0 10px 0;
}

#para {
    background-color: #efb0c9;
    padding: 6px 10px;
    border-radius: 5px;
    margin: 0;
}

body{
    margin: 0;
    text-align: center;
}

.top-3-img{
    border-radius: 50%;
}
/* p{
    background-color: #efb0c9;
    padding: 5px ;
    border-radius: 20px; 
} */
#title-3{
    text-shadow: 0px 0px 10px rgb(108, 182, 224);
}

#top-3{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background: linear-gradient( lightblue,#efb0c9);
    padding: 10px 10px 20px 80px;
    border-radius: 50px;
    justify-content: space-around;
    
}
#guide-info{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#guide-photo{
    width: 150px;
    border-radius: 50%;
    
}

.guide-card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
    padding: 20px;
    margin: 20px 20%;
    text-align: center;
     background: linear-gradient(red ,yellow);
}