body{
    
    font-family:'Orbitron', sans-serif;
    color: #82a5ca;
    text-align: center;
    margin: 0;
}

.btn{
    padding: 8px 12px;
    background: white;
    border: none;
    font-family:'Orbitron', sans-serif;
    font-weight: 800;
    color: #82a5ca;
}

.underline{
    border-bottom: 5px solid white;
    
}

#main-logo{
    width: 150px;
}

#hero{
    color: white;
    background-image: url("galaxy.webp");
    background-size: cover;
    text-align: center;
    padding: 10px 0 40px 0;

}

#title{
    text-shadow: 0px 10px 4px rgb(9, 130, 211);
}